# Configuration jetbrain
.idea/
composer.lock


# fichier de configuration
app/config/config.php

# fichier de configuration usersDB
app/config/usersDB/users.config.php

# Dossier vendor
vendor/

# Dossier de fichiers temporaires
tmp/
