{% extends _layout %}

{% block title %} Administration{% endblock %}

{% block content %}
    <h3>Bienvenue !</h3>

    <p>Compte : {{ getAuth('dbuser') }}</p>
    <p>Niveau : {{ getAuth('level') }}</p>

    {% if getAuth('dbuser') != 'client' %}
        <div class="row">
            <img src="/phpimg/driveChart.php" alt="drive usage">
            <img src="/phpimg/memChart.php" alt="drive usage">
        </div>
    {% endif %}
{% endblock %}