{% extends _layout %}

{% block title %}Ajout / Edition{% endblock %}


{% block content %}

    <div class="row section">
        {{ material_form_start(form.name, form.data) }}
        <div class="row">
            {% for input in formData %}
                {{ material_form_by_name(input.type, input.name, input.args) }}
            {% endfor %}
        </div>
        {{ material_form_end() }}
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {$('select').material_select();});
    </script>
{% endblock %}